flows (1).json
[{"id":"5ce4358d.5f0cdc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"37a5dc2b.8dc2d4","type":"ui_button","z":"5ce4358d.5f0cdc","name":"","group":"ce27e692.b69188","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":260,"wires":[["55fd491e.1ad0f8"]]},{"id":"55fd491e.1ad0f8","type":"http request","z":"5ce4358d.5f0cdc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://575fd3cc-4f1b-4130-b019-d25ea7675ba3-bluemix.cloudant.com/smartsecurity/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":500,"y":260,"wires":[["9bde9df3.70955"]]},{"id":"9bde9df3.70955","type":"function","z":"5ce4358d.5f0cdc","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["d01afde4.0c555","ba2a48e8.59cc18"]]},{"id":"ba2a48e8.59cc18","type":"ui_template","z":"5ce4358d.5f0cdc","group":"ce27e692.b69188","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":420,"wires":[[]]},{"id":"d01afde4.0c555","type":"debug","z":"5ce4358d.5f0cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":300,"wires":[]},{"id":"ce27e692.b69188","type":"ui_group","z":"","name":"SmartSecurity","tab":"ece09fbe.d56ba","order":1,"disp":true,"width":"6","collapse":false},{"id":"ece09fbe.d56ba","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]